.topbar{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.wrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 25px;
    font-weight: 600;
    color: darkblue;
    cursor: pointer;
}
.topbar_right{
    display: flex;
    align-items: center;
}
.topbar_icons{
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}
.icon_badge{
    position: absolute;
    height: 15px;
    width: 15px;
    font-size: 10px;
    top: -5px;
    right: 0px;
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar_avatar{
    height: 30px;
    width: 30px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}